@*    Render Body Starts*@
<div id="home" class="img-responsive">
    <div class="landing-text">
        <div class="row">
            <h1 id="t1" class="col-md-6">HOLINESS TO THE LORD</h1>
            <h1 id="t2" class="col-md-6">THE HOUSE OF THE LORD</h1>
        </div>
        <br />
        <br />
        <a id="vbt" asp-action="SignUp" class="btn btn-default btn-lg">Visit Now</a>
    </div>
</div>

@*Adding CSS classes onto each HTML element in the index view.*@

@*Intro to the Layton Utah temple*@
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/img/tp_intro.png" alt="temple" />
            </div>
            <div class="col-sm-6 text-center">
                <h2>About the Temple</h2>
                <p id="tp_about" class="lead">
                    The Layton Utah Temple will be the nineteenth temple built in Utah
                    and the second built in Davis County, following the Bountiful Utah
                    Temple (1995). The groundbreaking ceremony for the Layton Utah
                    Temple, which had originally been scheduled for Saturday, May 30,
                    2020, was held one week early without advance public notice. In a
                    statement issued later that day, Church spokesperson Irene Caso
                    said: "Due to the ongoing COVID-19 pandemic and the need to limit
                    public gatherings, leaders of The Church of Jesus Christ of
                    Latter-day Saints determined a traditional groundbreaking for the
                    Layton Utah Temple, with invited guests, was not prudent. The
                    First Presidency assigned the Utah Area Presidency to conduct a
                    small-scale groundbreaking, held Saturday, May 23, so that
                    construction could proceed."3 A video of the service was released
                    online the following Saturday on the originally scheduled
                    groundbreaking date.
                </p>
            </div>
        </div>
    </div>
</div>
<br />

@*Sub paragraghs about the tours and schedule of the temple*@

<div class="padding">
    <div class="container sub-content">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>General Tour Instructions:</h3>
                <ul>
                    <li>Masks are required.</li>
                    <li>
                        Park on Rosewood (west side of the temple) and meet at the
                        Visitors Center trailer.
                    </li>
                    <li>Dress casual, except on Sunday</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="img/facemask.jpg" alt="facemask" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3 class="text-center">Available Hours:</h3>
                <table class="center lead">
                    <tr>
                        <th>Days</th>
                        <th>Hours</th>
                    </tr>
                    <tr>
                        <td>Sun</td>
                        <td>Close</td>
                    </tr>
                    <tr>
                        <td>Mon</td>
                        <td>Close</td>
                    </tr>
                    <tr>
                        <td>Tue</td>
                        <td>6AM-9PM</td>
                    </tr>
                    <tr>
                        <td>Wed</td>
                        <td>6AM-9PM</td>
                    </tr>
                    <tr>
                        <td>Thu</td>
                        <td>6AM-9PM</td>
                    </tr>
                    <tr>
                        <td>Fri</td>
                        <td>6AM-9PM</td>
                    </tr>
                    <tr>
                        <td>Sat</td>
                        <td>6AM-9PM</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img class=""
                     src="~/img/clock.png"
                     alt="clock" />
            </div>
        </div>
    </div>
</div>

<div class="img-responsive" id="fixed"></div>

@*A bit history about the temple*@

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>History of the Layton Utah Temple...</h3>
                <p class="lead">
                    The Layton Utah Temple is a temple of The Church of Jesus Christ
                    of Latter-day Saints under construction in Layton, Utah. The
                    intent to construct the temple was announced by church president
                    Russell M. Nelson on April 1, 2018, during the 188th annual
                    general conference.
                </p>
            </div>
            <div class="col-sm-6">
                <img class="churchBrandImg" src="~/img/angelMoroni.jpg" alt="Moroni" />
            </div>
        </div>
    </div>
</div>
@*     Render Body Ends
*@