
@{
}

@model TempleScheduler.Models.Group

<body>
    <br /><br /><br /><br /><br /><br />
    <form asp-action="SignUp" method="post" class="center">
        <div class="text-center">
            <label name="AvailableTime">Choose an available time slot:</label>
            <select name="AvailableTime" id="AvailableTime" asp-for="AvailableTime">
                <option value="none">Select One:</option>
                <option value="8am">8:00am - 9:00am</option>
                <option value="9am">9:00am - 10:00am</option>
                <option value="10am">10:00am - 11:00am</option>
                <option value="11am">11:00am - 12:00pm</option>
                <option value="12pm">12:00pm - 1:00pm</option>
                <option value="1pm">1:00pm - 2:00pm</option>
                <option value="2pm">2:00pm - 3:00pm</option>
                <option value="3pm">3:00pm - 4:00pm</option>
                <option value="4pm">4:00pm - 5:00pm</option>
                <option value="5pm">5:00pm - 6:00pm</option>
                <option value="6pm">6:00pm - 7:00pm</option>
                <option value="7pm">7:00pm - 8:00pm</option>
                <option value="8pm">8:00pm - 9:00pm</option>
            </select>
            <!--
            this line returns error probably due to database
            <button type="submit">Continue</button>
            -->
            <br />
            <div class="text-center">
                <a asp-action="Form">Continue</a>
            </div>
            <img src="~/img/Come.png" alt="Come Follow Me" height="500" width="400" />
        </div>
    </form>
</body>