<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landing Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
              rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />


    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target="#navbar-collapse-main">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <img class="img-responsive" src="~/img/churchIcon.jpeg" alt="ICON" />
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-adjustment" id="navbar-collapse-main">
                    <ul class="nav navbar-nav navbar-right" style=" display: flex;">
                        <li>
                            <a id="disBT" href="#" disabled>Layton Utah Temple</a>
                        </li>
                        <li><a class="active" asp-action="Index">Home</a></li>
                        <li><a asp-action="SignUp">Sign-up</a></li>
                        <li><a asp-action="Confirmation">Appointments</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderBody()

        <footer class="container-fluid text-center">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Contact Us</h3>
                    <br />
                    <h4>Our address and contact info here</h4>
                </div>
                <div class="col-sm-4">
                    <h3>Connect</h3>
                    <a href="https://www.facebook.com/ChurchofJesusChrist/"
                       class="fa fa-facebook" target="_blank"></a>
                    <a href="https://twitter.com/Ch_JesusChrist"
                       class="fa fa-twitter" target="_blank"></a>
                    <a href="https://www.instagram.com/churchofjesuschrist/?hl=en"
                       class="fa fa-instagram" target="_blank"></a>
                    <a href="https://www.linkedin.com/company/the-church-of-jesus-christ-of-latter-day-saints--/"
                       class="fa fa-linkedin" target="_blank"></a>
                    <a href="https://www.youtube.com/channel/UCdNjexbIS_NKJC4ZRwKf9ag"
                       class="fa fa-youtube" target="_blank"></a>
                </div>
                <div class="col-sm-4">
                    <img src="img/rounded_churchicon.png"
                         class="icon rounded-circle"
                         alt="" />
                </div>
            </div>
        </footer>

        @*    Script links*@
        <script src="https://kit.fontawesome.com/38b4b4f4fa.js"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            @RenderSection("Scripts", required: false)
    </body>
</html>
